.goog-te-gadget {
  color: transparent !important;
  position: absolute;
  top: -7px;
  /* left: 0; */
  right: 13px;
}

a.VIpgJd-ZVi9od-l4eHX-hSRGPd {
  display: none !important;
}


/* menu for programs start */
ul.menu-sub {
  display: flex;
  list-style-type: none !important;
  gap: 2rem;
  margin: 0;
}
.submenubg {
  list-style: none;
  background: white;
  border-radius: 4px;
  margin: 16px 0px 0 -6px;
  position: absolute;
  color: black;
  text-align: left;
  padding: 13px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  width: 161px;
}
.sub-menu {
  display: none;
  /* Add additional styling as needed */
}

.visible {
  display: block !important; /* Ensure visibility even if other styles are applied */
}

.menu-degrees {
  margin-top: 75px;
  background: white;
  padding-bottom: 10px;
}
.menu-title-container {
  display: ruby-text;
  text-align: center;
  margin-right: 150px;
}
/* menu for programs end */
.men-3:hover {
  color: white !important;
}
nav.navbar.navbar-area-1.navbar-area.navbar-expand-lg {
  background: white;
  padding: 0px !important;
}
.fn-17{
  font-size: 16px;
}
.menu-3-bg{
  background: #fdc800;
  border-radius: 5px;
  padding: 5px;
  color: white;
}
@media only screen and (max-width: 575px){
  .navbar-area .nav-container {
    margin: 0px 0px;
    padding: 5px 15px;
}
.menu-degrees {
  margin-top: 73px;
  background: white;
  padding-bottom: 10px !important;
}
.menu-3-bg {
  background: #fdc800;
  border-radius: 5px;
  padding: 5px;
}
.fn-17 {
  font-size: 14px;
}


.m-none{
  display: none;
}
.menu-title-container {
  display: ruby-text;
  text-align: center;
  margin: 0px;
}
ul.menu-sub {
  gap: 1rem;
  padding: 0;
}

}

/* coming coon css start */
.comingsoon-area{
  display: flex;
}
/* coming coon css end */


/* student feedback */
.modal {
  display: block; /* Ensure the modal is displayed */
  position: fixed; /* Position the modal */
  z-index: 1000; /* Ensure it's on top of everything */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  /* overflow: auto; Allow scrolling if content exceeds viewport */
}

.modal-content {
  background-color: #fefefe; /* White background */
  margin: 5% auto; /* Center the modal */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* 80% width */
  max-width: 600px; /* Max width of 600px */
  position: relative;
}

.close {
  color: #ff0000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

iframe {
  width: 100%; /* Make the video fill the modal */
  height: 400px; /* Set the height */
}
.slick-slide {
  /* margin: 0 8px 0 0; */
  padding: 10px /* Adjust the margin to add the desired gap */
}
.slick-prev:before, .slick-next:before {
  font-family: 'slick';
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.plyion {
  position: absolute;
  top: 16%;
  margin-left: 1%;
}
@media only screen and (max-width: 575px){
.plyion {
  position: absolute;
  top: 22%;
  margin-left: 2%;
}
.modal-content {
  margin: 27% auto;
}
.d-reverse{ 
  flex-direction: column-reverse !important;
}
.m-reverse{
  flex-direction: column-reverse ;
}
}
/* student feedback */

.d-reverse{ 
  flex-direction: row-reverse ;
}


/* owl nav */




.slick-prev:before {
  content: '<' !important;
  color: #fdc800 !important;
}
.slick-next:before {
  content: '>' !important;
  color: #fdc800 !important;
}

/* Our Intellectual Board Members */

img.testimonial-right-imgslide {
  position: absolute;
  height: 100%;
  right: 15px;
  top: 0px;
  width: 50% !important;
  border-radius: 4px;
}
@media only screen and (max-width: 575px){
  img.testimonial-right-imgslide {
    position: relative;
    height: 100%;
    right: 0px;
    top: 0px;
    width: 100% !important;
    border-radius: 4px;
}
}

/* footer about us/ read more button start */
#aboutRead-btn{
  height: 45px;
  line-height: 45px;
  padding: 0 36px;
  border-radius: 0;
  overflow: hidden;
  position: relative;
  border: 0;
  font-size: 15px;
  transition: all 0.5s ease;
  font-weight: 500;
  border-radius: 4px;
  z-index: 0;
}
/* footer about us/ read more button end */


/* dummy termsCondition, privacyPolicy, refundPolicy start */
.TC_header {
  text-align: center;
  padding-top: 18%;
}
#TC_hrLine{
  display:flex;
  justify-content: center;
  width: 60%;
}
.TC_body{
  display: flex;
  flex-wrap: wrap;
}
/* dummy termsCondition, privacyPolicy, refundPolicy end */



/* menubar design start */

 .menu-title-container li {
  display: inline-block;
  font-weight: 500;
  /* line-height: 50px; */
  text-transform: capitalize;
}

.menu-title-container li a {
  color: var(--heading-color);
  font-weight: 500;
  font-size: 17px;
  /* padding-left: 8px; */
}



.menu-title-container li+li {
  margin-left: 15px;
}

.menu-title-container li.menu-item-has-children {
  position: relative;
  z-index: 0;
  padding-right: 14px;
}

.menu-title-container li.menu-item-has-children:before {
  /* content: ""; */
  position: absolute;
  right: 3px;
  top: 50%;
  height: 10px;
  width: 2px;
  background: var(--heading-color);
  transform: translateY(-50%);
  transition: all 0.3s ease-in;
  margin-top: 0px;
}

.menu-title-container li.menu-item-has-children:after {
  /* content: ""; */
  position: absolute;
  right: -1px;
  top: 25px;
  height: 2px;
  width: 10px;
  background: var(--heading-color);
  transform: translateY(-50%);
  transition: all 0.3s ease-in;
}

.menu-title-container li.menu-item-has-children:hover {
  transition: all 0.4s ease;
}

.menu-title-container li.menu-item-has-children:hover:before {
  opacity: 0;
}

.menu-title-container li.menu-item-has-children:hover:after {
  background: var(--main-color);
}

.menu-title-container li.menu-item-has-children:hover>.sub-menu {
  visibility: visible;
  opacity: 1;
}

.menu-title-container li.menu-item-has-children .sub-menu {
  position: absolute;
  text-align: left;
  min-width: 210px;
  margin: 0;
  padding: 0;
  list-style: none;
  left: 0;
  top: 100%;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  z-index: 9;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease;
  border-radius: 0;
}

.menu-title-container li.menu-item-has-children .sub-menu.border-bt0 {
  border-bottom: 0px !important;
}

.menu-title-container li.menu-item-has-children .sub-menu li {
  display: block;
  margin-left: 0;
  line-height: 22px;
  font-size: 15px;
  transition: all 0.4s ease;
  border-bottom: 1px solid #f5f5f5;
}

.menu-title-container li.menu-item-has-children .sub-menu li a {
  display: block;
  padding: 10px 20px;
  white-space: nowrap;
  transition: all 0.3s;
  color: #050a30;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.4s ease;
  position: relative;
}

.menu-title-container li.menu-item-has-children .sub-menu li a:before {
  position: absolute;
  left: 17px;
  top: 50%;
  content: "";
  font-family: "fontawesome";
  /* IE 9 */
  /* Chrome, Safari, Opera */
  transform: translateY(-50%);
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
  color: #fff;
}

.menu-title-container li.menu-item-has-children .sub-menu li:hover {
  background: #061539;
}

.menu-title-container li.menu-item-has-children .sub-menu li:hover a {
  color: #fff;
  padding: 10px 20px 10px 30px;
}

.menu-title-container li.menu-item-has-children .sub-menu li:hover a:before {
  visibility: visible;
  opacity: 1;
}

.menu-title-container li.menu-item-has-children .sub-menu li:last-child {
  border-bottom: 0;
}

.menu-title-container li.menu-item-has-children .sub-menu .menu-item-has-children {
  position: relative;
  z-index: 0;
  padding-right: 0px;
}

.menu-title-container li.menu-item-has-children .sub-menu .menu-item-has-children:before {
  position: absolute;
  right: 15px;
  top: 50%;
  content: "";
  font-family: "fontawesome";
  /* IE 9 */
  /* Chrome, Safari, Opera */
  transform: translateY(-50%);
}

.menu-title-container li.menu-item-has-children .sub-menu .menu-item-has-children>.sub-menu {
  left: 100%;
  top: 20px;
}

.menu-title-container li.menu-item-has-children .sub-menu .menu-item-has-children>.sub-menu .sub-menu .sub-menu {
  left: auto;
  right: 100%;
}

.menu-title-container li.menu-item-has-children .sub-menu .menu-item-has-children:hover>.sub-menu {
  visibility: visible;
  opacity: 1;
}

.menu-title-container li.menu-item-has-children .sub-menu .menu-item-has-children:hover>.sub-menu li:hover:before {
  color: #fff;
}

.menu-title-container>li {
  margin-right: 12px;
}

.men-3.main-menu{
  height: 2rem;
}

.men-3.main-menu:hover{
  color: white;
}

@media (max-Width:980px) {
  .menu-title-container{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    width: max-content;
    gap: 1px;
  }
  .menu-sub{
    display: flex;
    /* width: max-content; */
    gap: 1px;
  }
  .men-3.main-menu{
    font-size: 15px;
    
  }
  .banner-area.banner-area-1 .thumb.b-animate-thumb{
    margin-top: 2rem;
  }
}
@media (max-width: 467px) {
  .menu-title-container {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    width: 100%;
    gap: 1px;
    justify-content: center;
    text-align: center;
  }
  .menu-sub {
    display: flex;
    gap: 1px;
    flex-direction: row; /* Display the menu items in a row on mobile */
    justify-content: center; /* Center the menu items horizontally on mobile */
  }
  .men-3.main-menu {
    font-size: 10px;
    text-align: center;
  }
  .banner-area.banner-area-1 .thumb.b-animate-thumb {
    margin-top: 2rem;
  }
}

/* menubar design end */

