
.goog-te-gadget {
  color: transparent !important;
  position: absolute;
  top: -7px;
  /* left: 0; */
  right: 13px;
}

a.VIpgJd-ZVi9od-l4eHX-hSRGPd {
  display: none !important;
}


/* menu for programs start */
ul.menu-sub {
  display: flex;
  list-style-type: none !important;
  gap: 2rem;
  margin: 0;
}
.submenubg {
  list-style: none;
  background: white;
  border-radius: 10px;
  margin: 10px 0;
  position: absolute;
  color: black;
  text-align: left;
  padding: 13px;
  font-size: 14px;
  font-weight: 500;
}
.sub-menu {
  display: none;
  /* Add additional styling as needed */
}

.visible {
  display: block !important; /* Ensure visibility even if other styles are applied */
}

.menu-degrees {
  margin-top: 90px;
  background: black;
}
.menu-title-container {
  display: ruby-text;
  text-align: right;
}
/* menu for programs end */

nav.navbar.navbar-area-1.navbar-area.navbar-expand-lg {
  background: white;
  padding: 0px !important;
}
@media only screen and (max-width: 575px){
  .navbar-area .nav-container {
    margin: 0px 0px;
    padding: 5px 15px;
}

.fn-14{
  font-size: 15px;
}
.m-none{
  display: none;
}
.menu-title-container {
  display: ruby-text;
  text-align: center;
}
ul.menu-sub {
  gap: 1.4rem;
  padding: 0;
}

}

/* coming coon css start */
.comingsoon-area{
  display: flex;
}
/* coming coon css end */


/* student feedback */
.modal {
  display: block; /* Ensure the modal is displayed */
  position: fixed; /* Position the modal */
  z-index: 1000; /* Ensure it's on top of everything */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  /* overflow: auto; Allow scrolling if content exceeds viewport */
}

.modal-content {
  background-color: #fefefe; /* White background */
  margin: 5% auto; /* Center the modal */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* 80% width */
  max-width: 600px; /* Max width of 600px */
  position: relative;
}

.close {
  color: #ff0000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

iframe {
  width: 100%; /* Make the video fill the modal */
  height: 400px; /* Set the height */
}
.slick-slide {
  /* margin: 0 8px 0 0; */
  padding: 10px /* Adjust the margin to add the desired gap */
}
.slick-prev:before, .slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: black !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.plyion {
  position: absolute;
  top: 16%;
  margin-left: 1%;
}
@media only screen and (max-width: 575px){
.plyion {
  position: absolute;
  top: 22%;
  margin-left: 2%;
}
.modal-content {
  margin: 27% auto;
}
.d-reverse{ 
  flex-direction: column-reverse !important;
}
}
/* student feedback */

.d-reverse{ 
  flex-direction: row-reverse ;
}

/* owl nav */
button.owl-next,
button.owl-prev {
  position: absolute;
  top: 37%;
  border: navajowhite;
  background: black;
  color: white;
  width: 20px;
  height: 60px;
}

button.owl-next {
  right: 0;
}

button.owl-prev {
  left: 0;
}

button.owl-next:hover,
button.owl-prev:hover {
  background: yellow;
  color: black; /* Change text color to improve visibility */
}